@use '../components/mixins';
@use '../components/variables';

.dialog {
  width: 100%;
  height: 100%;

  max-width: 60rem;
  max-height: 50rem;


  border-radius: 5px;
  background-color: variables.$gray-title-hr-black-bg;
  margin: auto auto;


  &__content{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    gap: 2rem;

    color: variables.$white;

    & h2 {
      margin: 0;
    }

    & p {
      line-height: 1.4;
    }
  }

  @include mixins.button(
      $selector: ".dialog",
      $padding-vertical: 1.8rem,
      $padding-horizontal: 6.3rem,
      $padding-scale: .5,
      $font-sizes: 1.2rem,
  )

}
