@use '../components/variables';
@use "sass:math";
@use "sass:meta";

@mixin font($family: 'Montserrat',$weight: 300, $style: normal, $filename: 'Montserrat-Light') {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('../fonts/#{$filename}.woff2') format('woff2'),
    url('../fonts/#{$filename}.woff') format('woff');
  }
}

@function strip-unit($value) {
  @if meta.type-of($value) == "number" and not math.is-unitless($value) {
    @return math.div($value, ($value * 0 + 1));
  }
  @return $value;
}

@function get-unit($value) {
  @if meta.type-of($value) == "number" {
    @return math.unit($value);
  }
  @return null;
}

@function clamp-init($value, $scale: .2, $min-width: 375px, $max-width: 1440px) {
  $min: $value * (1 - $scale);
  $fluid: calc(
          #{$min} + (#{strip-unit($value - $min)}) * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );
  @return clamp(#{$min}, #{$fluid}, #{$value});
}

@mixin font-init(
  $family: 'Montserrat',
  $alt: 'sans-serif',
  $font-weight: variables.$regular,
  $font-size: 1rem,
  $font-scale: 0.2,
  $min-width: 375px,
  $max-width: 1440px,
  $letter-spacing: normal
) {
  font-family: $family, $alt;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-size: clamp-init($font-size, $font-scale);
}

@mixin media-breakpoint-down($name) {
  $value: variables.breakpoint($name);
  @media (max-width: $value) {
    @content;
  }
}

@mixin media-breakpoint-up($name) {
  $value: variables.breakpoint($name);
  @media (min-width: $value) {
    @content;
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  $min: variables.breakpoint($lower);
  $max: variables.breakpoint($upper);

  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin button(
  $selector: "default",
  $padding-vertical: 1rem,
  $padding-horizontal: 1rem,
  $padding-scale: .5,
  $font-sizes: 1rem,
) {
  .button-container {
    padding: clamp-init($padding-vertical, $padding-scale) clamp-init($padding-horizontal, $padding-scale);

    &__button-text {
      @include font-init(
              $font-size: $font-sizes,
      );
    }
  }
}
