@use "sass:map";

// colors

$white: rgba(255, 255, 255, 1);
$black: rgba(8, 8, 8, 1);
$gray: rgba(130, 130, 130, 1);
$gray-title-whiteBg: rgba(130, 130, 130, 0.32);
$gray-titleHr-whiteBg: rgba(130, 130, 130, 0.16);
$gray-title-black-bg: rgba(255, 255, 255, 0.13);
$gray-title-hr-black-bg: rgba(255, 255, 255, 0.04);
$gray-hr: rgba(49, 49, 49, 0.2);
$white-btn: rgba(253, 253, 253, 0.32);

// media

$grid-breakpoints: (
        extraSmall: 375px,
        small: 576px,
        mobile: 768px,
        tablet: 1024px,
        desktop: 1440px,
        extraLarge: 1920px
);

// font-weights

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 800;
$black: 900;


@function breakpoint($name: desktop) {
  @return map.get($grid-breakpoints, $name);
}


