
// colors

$white: rgba(255, 255, 255, 1);
$black: rgba(8, 8, 8, 1);
$gray: rgba(130, 130, 130, 1);
$grayTitleWhiteBg: rgba(130, 130, 130, 0.32);
$grayTitleHrWhiteBg: rgba(130, 130, 130, 0.16);
$grayTitleBlackBg: rgba(255, 255, 255, 0.13);
$grayTitleHrBlackBg: rgba(255, 255, 255, 0.04);
$grayHr: rgba(49, 49, 49, 0.2);
$whiteBtn: rgba(253, 253, 253, 0.32);

// media

$mediaExtraSmall: 375px;
$mediaSmall: 575px;
$mediaMobile: 768px;
$mediaTable: 1024px;
$mediaDesktop: 1440px;
$mediaExtraLarge: 1920px;
