@use '../../components/normalize';
@use '../../components/style';
@use '../../components/mixins';
@use '../../components/variables';

@use '../../components/header';
@use '../../components/footer';


body{
  background-color: black;
  @include mixins.font-init(
          $family: 'Montserrat',
          $font-weight: variables.$regular,
          $font-size: 2rem
  );
}
