<div class="button-container
            @@if(typeof this.className === 'string'){@@className__button-container}
            @@if(typeof this.className !== 'string'){}
            @@if (typeof type === 'string') {button-container_@@type}
            @@if (typeof type !== 'string') {button-container_light}
            @@if (task === 'href') {button-container__button_src}
            @@if (task === 'modal') {button-container__button_modal}
            @@if (task === 'default') {button-container__button_default}
            @@if (typeof task !== 'string') {button-container__button_default}
">
    <button class="button-container__button"
            @@if(typeof label === "string"){aria-label = "label"}@@if(typeof label !== "string"){aria-label = "label"}>
        @@if (task === 'default') {
            @@if (text) {
                <span class="button-container__button-text">@@text</span>
            }
            @@if (typeof text !== 'string') {
                <span class="button-container__button-text">button text</span>
            }
        }

        @@if (task === 'modal') {
            @@if (text) {
                <span class="button-container__button-text">@@text</span>
            }
            @@if (typeof text !== 'string') {
                <span class="button-container__button-text">button text</span>
            }
        }

        @@if (task === 'href') {
            @@if (link) {
                @@if (text) {
                    <a class="button-container__button-text" href="@@link">@@text</a>
                }
                @@if (typeof text !== 'string') {
                    <a class="button-container__button-text" href="@@link">button text</a>
                }
            }
            @@if (typeof link !== 'string') {
                @@if (text) {
                    <a class="button-container__button-text" href="#">@@text</a>
                }
                @@if (typeof text !== 'string') {
                    <a class="button-container__button-text" href="#">button text</a>
                }
            }
        }

        @@if (typeof task !== 'string') {
            <span class="button-container__button-text">button text</span>
        }
    </button>
</div>
