@@if (type === 'radio'){
<label class="form_radio__label
      @@if(typeof this.className === 'string'){@@className__label}
      @@if(typeof this.className !== 'string'){}">

    <input class="form_radio__input
        @@if(typeof this.className === 'string'){
            @@if(typeof type === 'string'){@@className__input input_@@type}
            @@if(typeof type !== 'string'){@@className__input input_radio}
        }
        @@if(typeof this.className !== 'string'){
            @@if(typeof type === 'string'){input_@@type}
            @@if(typeof type !== 'string'){input_radio}
        }"
        @@if(typeof type === "string"){type = @@type}@@if(typeof type !== "string"){type = radio}
        @@if(typeof value === "string"){value = @@value}@@if(typeof value !== "string"){value = "0"}
        @@if(typeof name === "string"){name = @@name}@@if(typeof name !== "string"){name = "area"}
        @@if(required=== 'true'){required} />

    <span class="form_radio__sub">
        @@if(typeof sub === "string"){@@sub}@@if(typeof sub !== "string"){sub}
    </span>
</label>
}

@@if( type === 'text' || type === 'email' || type === 'tel' || type === 'search' || typeof type !== 'string' ) {
    <label class="form__label
                @@if(typeof this.className === 'string'){@@className__label}
                @@if(typeof this.className !== 'string'){}">
        <input class="form__input
            @@if(typeof this.className === 'string'){
                @@if(typeof type === 'string'){@@className__input input_@@type}
                @@if(typeof type !== 'string'){@@className__input input_text}
            }
            @@if(typeof this.className !== 'string'){
                @@if(typeof type === 'string'){input_@@type}
                @@if(typeof type !== 'string'){input_text}
            }"
            @@if(typeof this.className === 'string'){name="@@className_input"}@@if(typeof this.className !== 'string'){name="input"}
            @@if( type === 'text' || type === 'email' || type === 'tel' || type === 'search' || typeof type !== 'string' ){type="@@type"}
            @@if(typeof autocapitalize === 'string'){autocapitalize="@@autocapitalize"}@@if(typeof autocapitalize !== 'string'){autocapitalize="none"}
            @@if(typeof placeholder === 'string'){placeholder="@@placeholder"}@@if(typeof placeholder !== 'string'){placeholder="placeholder"}
            @@if(typeof autocomplete === 'string'){autocomplete="@@autocomplete"}@@if(typeof autocomplete !== 'string'){autocomplete="off"}
            @@if(required=== 'true'){required}
            @@if(typeof minlength === "string"){minlength = @@minlength}@@if(typeof minlength !== "string"){minlength = "3"}
            @@if(typeof maxlength === "string"){maxlength = @@maxlength}@@if(typeof maxlength !== "string"){maxlength = "15"}
            @@if(typeof pattern === "string"){pattern = @@pattern}@@if(typeof pattern !== "string"){pattern = "^[A-Za-zА-Яа-яЁё]+$"}
        />
        <span class="form__span
            @@if(typeof this.className === 'string'){@@className__form__span}
            @@if(typeof this.className !== 'string'){}">
        </span>
    </label>
}

@@if (type === 'file'){
    <div class="form_file">
        <div class="form_file__wrapper
                @@if(typeof this.className === 'string'){@@className__form__file__wrapper}
                @@if(typeof this.className !== 'string'){}">
            <label class="form_file__button">
                @@if(typeof fileText === 'string'){@@fileText}
                @@if(typeof fileText !== 'string'){+}
                <input class="form_file__input
                    @@if(typeof this.className === 'string'){
                        @@if(typeof type === 'string'){@@className__input input_@@type}
                        @@if(typeof type !== 'string'){@@className__input input_file}
                    }
                    @@if(typeof this.className !== 'string'){
                        @@if(typeof type === 'string'){input_@@type}
                        @@if(typeof type !== 'string'){input_file}
                    }"
                    name="@@if(typeof this.className === 'string'){@@className_input}@@if(typeof this.className !== 'string'){input}"
                    @@if(required === 'true'){required}
                    @@if(typeof type === "string"){type = "@@type"}@@if(typeof type !== "string"){type = "file"}
                    @@if(typeof accept === "string"){accept = "@@accept"}@@if(typeof accept !== "string"){accept = "image/png, image/jpeg"}
                    @@if(typeof size === "string"|| typeof size === "number"){size = "@@size"}@@if(typeof size !== "string" && typeof size !== "number"){size = 10000}
                    @@if(multiple === 'true'){multiple}
                />
            </label>
        </div>
        <div class="form_file__text-wrapper">
            <span class="form_file__title">Attach your file</span>
            <span class="form_file__sub">File size not more than 10 MB</span>
        </div>
    </div>
}