<div class="select
    @@if (typeof this.className === 'string') {@@className__select}
    @@if (typeof this.className !== 'string') {}
    @@if (typeof type === 'string') {select_@@type}
    @@if (typeof type !== 'string') {select_default}">

    @@if (typeof trigger === 'string') {
        <div class="select__trigger">@@trigger</div>
    }

    @@if (typeof trigger !== 'string') {
        <div class="select__trigger">En</div>
    }


    <ul class="select__menu">
        @@if (Array.isArray(options) && options.length > 0) {
            @@for (var i = 0; i < options.length; i++) {
                @@if (typeof `+options[i]+` === 'string') {
                <li value=${options[i]} class="select__option
                                        @@if (typeof this.className === 'string') {@@className__option }
                                        @@if (typeof this.className !== 'string') {}">
                    ${options[i]}
                </li>
                }
            }
        }
    </ul>

    @@if (type === "input") {<span></span>}

</div>