<dialog closedby="any" class="dialog">
    <div class="dialog__content">
        <p>
            Closable using the "Close" button, the Esc key, or by clicking outside the
            dialog. "Light dismiss" behavior.
        </p>
        @@include('assets/button.html', {
            "className": "dialog",
            "task": "href",
            "link": "index.html",
            "text": "Send Request",
            "type": "dark",
            "label": "dialog send request"
        })
    </div>
</dialog>