<dialog closedby="any" class="dialog">
    <div class="dialog__content">
        <div>
            @@include('assets/input.html', {
            "className": "dialog",
            "required": "true",
            "type": "text",
            "autocapitalize": "none",
            "placeholder": "Name",
            "autocomplete": "given-name",
            })
        </div>
        @@include('assets/button.html', {
            "className": "dialog",
            "task": "href",
            "link": "index.html",
            "text": "Send Request",
            "type": "dark",
            "label": "dialog send request"
        })
    </div>
</dialog>