
<header class="header">
    <nav class="header__navbar">
        <div class="header__section">
            <div class="header__logo">
                <a class="header__logo-text" href="index.html">LOGO</a>
            </div>

            <button class="header__burger" aria-label="burger" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <ul class="header__menu">
                <li class="header__item"><a href="projects.html">Projects</a></li>
                <li class="header__item"><a href="about.html">About us</a></li>
                <li class="header__item"><a href="blog.html">Blog</a></li>
                <li class="header__item"><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
        <div class="header__section">
            @@include('assets/select.html', {
                "className": "header",
                "options": ["En", "Ru", "Ua", "Gr"],
                "type": "default"
            })

            @@include('assets/button.html', {
                "className": "header",
                "task": "modal",
                "text": "Send Request",
                "type": "light",
                "label": "header"
            })
        </div>
    </nav>
</header>
