<section class="header">
    <nav class="header__navbar">
        <div class="header__section">
            <div class="header__logo">
                <a class="header__logo-text">LOGO</a>
            </div>
            <ul class="header__menu">
                <li class="menu__item">Projects</li>
                <li class="menu__item">About us</li>
                <li class="menu__item">Blog</li>
                <li class="menu__item">Contacts</li>
            </ul>
        </div>
        <div class="header__section">
            <p class="header__lang">En</p>
            @@include('assets/button.html', {
                "class": "header",
                "text": "Send Request",
                "type": "light",
                "label": "header",
            })
        </div>
    </nav>
</section>