

@use '../../components/style';
@use '../../components/mixins';
@use '../../components/variables';
@use '../../components/header';
@use '../../components/assets/button';
@use '../../components/assets/select';
@use '../../components/assets/input';
@use '../../components/assets/slider';
@use '../../components/assets/picture';

@use '../../components/dialog';
@use '../../components/footer';

@use '../../components/normalize';

body{
  background-color: black;
  @include mixins.font-init(
          $family: 'Montserrat',
          $font-weight: variables.$regular,
          $font-size: 2rem
  );

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
  }
}


