@use '../../components/mixins';
@use '../../components/variables';

.form {
  // Base styles for all form elements
  &__label {
    position: relative;
    display: block;
  }

  &__input {
    background-color: transparent;
    color: variables.$black-text;
    width: 100%;
    max-width: 10rem;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: 0.2rem solid rgba(221, 221, 221, 0.39);
    @include mixins.font-init(
            $family: 'Montserrat',
            $font-weight: variables.$semi-bold,
            $font-size: 1.12rem
    );

    &:hover {
      background-color: variables.$gray-title-white-bg;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form__span {
      width: 100%;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: variables.$black-text !important;
      background: transparent !important;
      background-clip: text !important;
      box-shadow: 0 0 0 1000px transparent inset !important;
      -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
      caret-color: variables.$black-text !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__span {
    position: absolute;
    background: variables.$black-text;
    width: 0;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }

  &--text {
    .form__input {
      &:focus ~ .form__span {
        width: 100%;
      }
    }
  }


  &_file {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__button {
      cursor: pointer;
      background: #f0f0f0;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: variables.$black-text;
      transition: background 0.3s;

      &:hover {
        background: variables.$gray-title-white-bg;
      }
    }

    &__input {
      display: none;
    }

    &__text-wrapper {
      pointer-events: none;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      gap: .3rem;

    }

    &__title {
      @include mixins.font-init(
              $family: 'Montserrat',
              $font-weight: variables.$semi-bold,
              $font-size: 1.12rem
      );
      color: variables.$black-text;
    }

    &__sub {
      @include mixins.font-init(
              $family: 'Montserrat',
              $font-weight: variables.$semi-bold,
              $font-size: 1.12rem
      );
      color: variables.$black-text-transparent;
    }
  }
}