@use '../../components/mixins';
@use '../../components/variables';

.form {
  &__label {
    position: relative;
    display: block;
    width: max-content;
  }

  &__input {
    background-color: transparent;
    color: variables.$black-text;

    width: 100%;
    max-width: 10rem;


    padding-inline: 0.5em;
    padding-block: 0.7em;

    border: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.39);

    @include mixins.font-init(
            $family: 'Montserrat',
            $font-weight: variables.$semi-bold,
            $font-size: 1.12rem,
    );

    &:hover {
      background-color: variables.$gray-title-white-bg;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form__span {
      width: 100%;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: variables.$black-text !important;
      background: transparent !important;
      background-clip: text !important;
      box-shadow: 0 0 0 1000px transparent inset !important;
      -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
      caret-color: variables.$black-text !important;
      transition: background-color 5000s ease-in-out 0s;
    }

  }

  &__span {
    position: absolute;
    background: #5891ff;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
}


