@use '../../components/mixins';
@use '../../components/variables';
@use "sass:map";

.select {
  position: relative;
  display: inline-block;
  width: fit-content;
  @include mixins.font-init(
          $family: 'Montserrat',
          $font-weight: variables.$semi-bold,
          $font-size: 1.12rem
  );
  color: variables.$white;

  &__trigger {
    background: transparent;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;

    transition: color 0.3s ease;

    &:hover {
      color: variables.$white-btn;
    }
  }

  &__menu {
    position: absolute;
    top: calc(100% + 0.25em);
    padding: 0 2rem;
    left: -0.5rem;
    right: 0;

    background: variables.$black;
    border: 0.2rem solid variables.$white-btn;

    height: 0;
    width: 100%;
    max-width: fit-content;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;

    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: height 0.3s ease, background 0.3s ease;
  }

  &.open &__menu {
    opacity: 1;
    visibility: visible;
  }

  &__option {
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background 0.3s ease, height 0.3s ease, opacity 0.3s ease;

    &:hover {
      background: variables.$white-btn;
    }
  }

  $select-type: (
          default:(
                  default: (
                          text: variables.$white,
                          border: variables.$white-btn,
                          background: variables.$black,
                          padding: 0 2rem
                  ),
                  hover: (
                          text: variables.$white-btn,
                          border: variables.$white-btn,
                          background: variables.$white-btn
                  ),
          ),
          input:(
                  default: (
                          text: variables.$black-text,
                          border: variables.$white-btn,
                          background: variables.$black,
                          padding: .7rem .5rem
                  ),
                  hover: (
                          text: variables.$black-text,
                          border: variables.$white-btn,
                          background: variables.$white-btn
                  ),
          ),
  );

  @each $type, $states in $select-type {
    &.select_#{"" + $type} {
      color: map.get(map.get($states, default), text);


      & .select__menu{
        background: map.get(map.get($states, default), background);
        border-color: map.get(map.get($states, default), border);
      }


      & .select__trigger{
        padding: map.get(map.get($states, default), padding);

        &:hover{
          color: map.get(map.get($states, hover), text);
        }
      }
      & .select__option:hover {
        background: map.get(map.get($states, hover), background);
      }
    }
  }


// input

  &_input{
    width: 100%;
    & .select__trigger{
      &:before{
        content: "";
        position: absolute;
        top: 98%;
        left: 0;
        right: 0;
        height: 2px;
        background: rgba(214,214,214, 0.3);
        transform: translateY(-50%);
        z-index: 0;
      }
      &:hover{
        background: variables.$gray-title-white-bg;
      }
    }
  }

}
